{% extends "account/base.jinja" %}


{% set page_title = _("Account inactive") %}

{% block content_title %}{{ _("Account inactive") }}{% endblock %}

{% block content_inner %}
    <p>{{ _("This account is inactive.") }}</p>
{% endblock %}
